VITE_APP_STAGE=prod
VITE_API_ENDPOINT=https://REPLACE_WITH_PROD_API_ID.execute-api.us-east-1.amazonaws.com
VITE_COGNITO_ENABLED=true
VITE_COGNITO_DOMAIN=https://journalm8-prod-114743615542.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=REPLACE_WITH_PROD_CLIENT_ID
VITE_COGNITO_REDIRECT_URI=https://REPLACE_WITH_PROD_DISTRIBUTION_ID.cloudfront.net/callback
VITE_COGNITO_LOGOUT_URI=https://REPLACE_WITH_PROD_DISTRIBUTION_ID.cloudfront.net
