.background-customizable {
  background-color: #f6f3ff;
}
.banner-customizable {
  background-color: #ffffff;
  padding: 28px 0px 18px 0px;
}
.logo-customizable {
  max-width: 65%;
  max-height: 40%;
}
.label-customizable {
  font-weight: 600;
}
.textDescription-customizable {
  display: block;
  font-size: 14px;
  padding-bottom: 12px;
  padding-top: 8px;
}
.idpDescription-customizable {
  display: block;
  font-size: 14px;
  padding-bottom: 12px;
  padding-top: 8px;
}
.inputField-customizable {
  background-color: #ffffff;
  border: 1px solid #d8d5e0;
  color: #171326;
  height: 44px;
  width: 100%;
}
.inputField-customizable:focus {
  border-color: #6d3de7;
  outline: 2px;
}
.submitButton-customizable {
  background-color: #6d3de7;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  height: 46px;
  margin: 20px -15px 10px -13px;
  width: 108%;
}
.submitButton-customizable:hover {
  background-color: #592fc2;
  color: #ffffff;
}
.redirect-customizable {
  text-align: center;
}
.errorMessage-customizable {
  background: #fff0f2;
  border: 1px solid #c83d56;
  color: #9f2940;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.passwordCheck-valid-customizable {
  color: #16865f;
}
.passwordCheck-notValid-customizable {
  color: #c83d56;
}
.legalText-customizable {
  color: #777184;
  font-size: 11px;
}
.idpButton-customizable {
  border-color: #d8d5e0;
  color: #171326;
  height: 44px;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
}
.socialButton-customizable {
  height: 44px;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
}
.idpButton-customizable:hover {
  background-color: #f6f3ff;
  color: #592fc2;
}
